.notfound {
    margin-top: 85px;
    color: white;
    background-image: url('../public/images/notfound-bg.jpg');
    background-position: center;
    background-size: cover;
}

.notfoundLogin {
    margin-top: 0px;
    color: white;
    background-image: url('../public/images/notfound-bg.jpg');
    background-position: center;
    background-size: cover;
}

.overlay {
    background-color: #19b5fe99;
    padding: 184px 0px;
}

.fontSizeLarge {
    font-size: 150px;
    line-height: 1;
    margin-bottom: 40px;
}

.fontSizeMudium {
    font-size: 35px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 14px;
}